<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layouts/main}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/product_list.css}">
	<script th:src="@{/js/admin/product_list.js}"></script>
	<style>
		.sidebar div:nth-child(2){
			 background-color: rgba( 255, 255, 255, 0.3 );
		}
	</style>
</head>

<section layout:fragment="content" th:object="${productsList}">
	<table class="product_list">
		<col width="50"><col width="100"><col width="100">
		<col width="150"><col width="200"><col width="50"><col width="200"><col width="150">
		<tr>
			<th>NO</th>
			<th>CATEGORY</th>
			<th>SUBJECT</th>
			<th>CREATEDBY</th>
			<th>BUY-NOW PRICE</th>
			<th>CURRENT PRICE</th>
			<th>RISING PRICE</th>
			<th>REGDT</th>
			<th>STATS</th>
		</tr>

		<tr th:each="products : ${productsList}" th:object="${products}">
			<td th:text="*{id}"></td>
			<td th:text="*{categories.cateNm}"></td>
			<td th:text="*{prSubject}"></td>
			<td th:text="*{createdBy}"></td>
			<td th:text="*{baroPrice}"></td>
			<td th:text="*{endPrice}"></td>
			<td th:text="*{risingPrice}"></td>
			<td th:text="${#temporals.format(products.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<td>
				<input type="checkbox" th:checked="*{stats}" th:data-product-no="*{id}" th:data-product-stats="*{stats}" class="form-check-input">
			</td>
		</tr>

	</table>

</section>

</html>