<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/product_list.css}">
    <script th:src="@{/js/admin/user.js}"></script>
    <style>

		table {
			margin-left:auto;
			margin-right:auto;
			font-size: 13px;
			width: 100%;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;

		}

		td {
  			text-align: center;
		}

		td input {
			width : 80%;
			text-align : right;
		}

		button{
			width:100%;
		}

		.form{
			margin-top:50px;
			text-align:center;
			width : 250px;

		}
		dl {
			margin:5px;
		}
		.submit_btn{
			width: 70px;
		}
		span{
			display : flex;
		}
        </style>
</head>
<section layout:fragment="content">
    <table class="money_list">
        <col width="50"><col width="200"><col width="50"><col width="150">
        <tr>
            <th>No</th>
            <th>UserId</th>
            <th>신청금액</th>

        </tr>



        <tr th:each=" list : ${requestMonies}" th:object="${list}">
            <td th:text="*{id}"></td>
            <td th:text="*{userId}"></td>
            <td th:text="*{money}"></td>

        </tr>

    </table>

</section>
</html>