<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<aside th:fragment="menus">
		<ul class="sidebar">
			<div style="margin:50px 0;">
			<a class="sidebar_name" th:href="@{/admin/user}"
			   style="padding:30px; font-size:20px;">
					<b>회원정보 관리</b>
			</a>
			</div>

			<div style="margin:50px 0;">
			<a class="sidebar_name" th:href="@{/admin/product/list}" style="padding:30px; font-size:20px;">
					<b>판매물품 관리</b>
			</a>
			</div>

			<div style="margin:50px 0;">
			<a class="sidebar_name" th:href="@{/admin/category/register}" style="padding:30px; font-size:20px;">
				<b>카테고리 관리</b>
			</a>
			</div>
		</ul>
	</aside>
</html>