<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/main}">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/details.css}">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/bid_button.js}"></script>
</head>
<main layout:fragment="content" th:object="${product}">
	<div id = "main-area" class="main">
		<div class="article_header"></div>
		<div class="article_container">
			<div class="saleInfo">
				<div class="ProductImage">
					<img th:src="@{*{imgPath}}" class="image" width="380" height="auto" al="상품이미지" object-fit="contain">
				</div>
				<div class="product_area">
					<div class="product_detail">
						<div class="product_detail_box">
							<div class="ProductCategory"></div>
							<p class="ProductName">
								<span th:text="*{prContent}">판매물품 제목</span>
							</p>
							<div class="ProductPrice">
								<strong class="currentPrice" th:text="*{endPrice}">현재 판매가격</strong><br>
								<strong class="risingPrice" th:text="*{risingPrice}">인상 입찰가격</strong><br>
								<strong class="expireDate">남은 시간</strong>

								<div class="time">
									<span id="d-day-hour">00</span>
									<span class="col">:</span>
									<span id="d-day-min">00</span>
									<span class="col">:</span>
									<span id="d-day-sec">00</span>
								</div>

								<script type="text/javascript" th:inline="javascript">
								/*<![CDATA[*/
									function remaindTime() {
										var now = new Date(); //현재시간을 구한다.
										var regDt = new Date([[${product.regDt}]]);
										console.log(regDt);
										var open = regDt.setDate(regDt.getDate()+3);
										console.log(open);

										var nt = now.getTime(); // 현재의 시간만 가져온다
										var ot = open; // 오픈시간만 가져온다

									   if(nt<ot){ //현재시간이 오픈시간보다 이르면 오픈시간까지의 남은 시간을 구한다.
										 sec = parseInt(ot - nt) / 1000;
										 hour = parseInt(sec/60/60);
										 sec = (sec - (hour*60*60));
										 min = parseInt(sec/60);
										 sec = parseInt(sec-(min*60));

										 if(hour<10){hour="0"+hour;}
										 if(min<10){min="0"+min;}
										 if(sec<10){sec="0"+sec;}
										  $("#d-day-hour").html(hour);
										  $("#d-day-min").html(min);
										  $("#d-day-sec").html(sec);
									   }
									  }
									  setInterval(remaindTime,1000);
  								/*]]>*/
								</script>
							</div>
						</div>
						<div class="CommercialDetail">
							<div class="section">
								<dl class="detail_list">
									<dt class="list_title" th:text="*{sellers.user.userNm}">판매자</dt>
									<dd class="list_detail">
										<span class="seller_email" th:text="*{sellers.user.email}">이메일주소</span><br>
										<span class="seller_mobile" th:text="*{sellers.user.mobile}">휴대전화번호</span>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="PurchaseButton">
						<button id="bid_btn" th:data-userid="${userId}" th:data-productid="${product.id}">입찰</button>
					</div>
					<div class="BottomNotice"></div>
				</div>
			</div>
			<div>
				<div class="content">
					<span th:text="*{prContent}">판매 물품 내용</span>
				</div>
			</div>
		</div>

	</div>

</main>