<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage1.css}">
</head>

<main layout:fragment="content">
    <div class="wrap">

        <aside th:fragment="menus" class="boxsidebar">
            <ul class="list">
                <li >
                    <a th:href="@{/mypage}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">회원 정보</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/sellerList}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">판매 내역</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/bidderList}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">입찰 내역</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section  th:object="${bidProducts}"  class="box">
            <table class="product_list">

                <tr class="trMenu">
                    <th class="th1">NO</th>
                    <th class="th2">카테고리</th>
                    <th class="th3">상 품</th>
                    <th class="th4">판매자</th>
                    <th class="th5">즉시 입찰가</th>
                    <th class="th6">현재 입찰가</th>
                    <th class="th7">인상가</th>
                    <th class="th8">REGDT</th>
                </tr>

                <tr th:each="product : ${bidProducts}" th:object="${product}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{categories.cateNm}"></td>
                    <td th:text="*{prSubject}"></td>
                    <td th:text="*{createdBy}"></td>
                    <td th:text="*{baroPrice}"></td>
                    <td th:text="*{endPrice}"></td>
                    <td th:text="*{risingPrice}"></td>
                    <td th:text="*{regDt}"></td>

                </tr>

            </table>

        </section>
    </div>

</main>

</html>