<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage1.css}">
    <style>
        .trMenu th {
            text-align:center;
        }
        tr td:first-child{
            text-align:center;
        }
        tr td:nth-child(4){
            text-align:center;
        }
        tr td:nth-child(5){
            text-align:right;
        }
        tr td:nth-child(6){
            text-align:right;
        }
        tr td:nth-child(7){
            text-align:center;
        }
        tr td:nth-child(8){
            text-align:center;
        }
        tr td:nth-child(9){
            text-align:center;
        }
    </style>
</head>

<main layout:fragment="content">
    <div class="wrap">

        <aside th:fragment="menus" class="boxsidebar">
            <ul class="list">
                <li >
                    <a th:href="@{/mypage}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">회원 정보</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/sellerList}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">판매 내역</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/bidderList}" class="nav-link" id="a">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">구매 내역</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section  th:object="${bidProducts}"  class="box">
            <table class="product_list">
                <col width="30"><col width="180"><col width="300"><col width="150"><col width="150"><col width="150"><col width="250"><col width="180"><col width="150">
                <tr class="trMenu">
                    <th class="th1">NO</th>
                    <th class="th2">카테고리</th>
                    <th class="th3">상 품</th>
                    <th class="th4">판매자</th>
                    <th class="th5">현재 입찰가</th>
                    <th class="th6">인상가</th>
                    <th class="th7">REGDT</th>
                    <th class="th8">물품 상태</th>
                    <th class="th9">최고입찰자</th>
                </tr>

                <tr th:each="product : ${bidProducts}" th:object="${product}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{categories.cateNm}"></td>
                    <td>
                        <a th:href="@{/product/view/{prId}(prId=${product.id})}" th:text="*{prSubject}"></a>
                    </td>
                    <td th:text="*{createdBy}"></td>
                    <td th:text="${#numbers.formatInteger(product.endPrice, 0, 'COMMA') + '원'}"></td>
                    <td th:text="${#numbers.formatInteger(product.risingPrice, 0, 'COMMA') + '원'}"></td>
                    <td th:text="${#temporals.format(product.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <span th:if="*{stats}">입찰중</span>
                        <span th:unless="*{stats}">판매완료</span>
                    </td>
                    <th:block th:each="bidder : ${product.bidderList}">
                        <td th:if="${bidderStat.last}" th:text="${bidder.user.userId}"></td>
                    </th:block>
                </tr>

            </table>

        </section>
    </div>

</main>

</html>