<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage1.css}">
    <style>
        th {
            width : 100px;
        }
    </style>
</head>

<main layout:fragment="content" th:object="${userinfo}">

    <div class="wrap">
        <aside th:fragment="menus" class="boxsidebar">
            <ul class="list">
                <li >
                    <a th:href="@{/mypage}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">회원 정보</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/sellerList}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">판매 내역</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/mypage/bidderList}" class="nav-link">
                        <i class="bx bx-home-alt"></i>
                        <span calss="link">구매 내역</span>
                    </a>
                </li>
            </ul>
        </aside>
            <table class="userinfo">
                <tr>
                    <th>ID</th>
                    <td th:text="*{userId}">userId</td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="*{userNm}">userNm</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="*{email}">이메일</td>
                </tr>
                <tr>
                    <th>휴대번호</th>
                    <td th:text="*{mobile}">mobile</td>
                </tr>
                <tr>
                    <th>통장</th>
                    <td>
                        <div th:text="${#numbers.formatInteger(user.money, 3, 'COMMA') + '원'}" style="float:left;" ></div>
                        <button id="requestMoney"  onClick="location.href='/mypage/requestMoney'" style="float:right;">충전신청</button>
                    </td>
                </tr>
            </table>
    </div>
</main>

</html>