<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layouts/main}">

<head>
	<style>
		.sidebar div:nth-child(1){
			 background-color: rgba( 255, 255, 255, 0.3 );
		}
		table {
			margin-left:auto;
			margin-right:auto;
			font-size: 13px;
			width: 100%;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}

		td {
  			text-align: center;
		}

		td input {
			width : 80%;
			text-align : right;
		}

		button{
			width:100%;
		}
	</style>
</head>

	<section layout:fragment="content" th:object="${userList}">
		<table class="user_list">
			<col width="50"><col width="100"><col width="100">
			<col width="150"><col width="200"><col width="50"><col width="200"><col width="150">
			<tr>
				<th>NO</th>
				<th>ID</th>
				<th>NAME</th>
				<th>PHONE</th>
				<th>EMAIL</th>
				<th>ROLE</th>
				<th>MONEY</th>
				<th>회원정보 변경</th>
			</tr>

			<tr th:each="user : ${userList}" th:object="${user}">
				<td th:text="*{userNo}"></td>
				<td th:text="*{userId}"></td>
				<td th:text="*{userNm}"></td>
				<td th:text="*{mobile}"></td>
				<td th:text="*{email}"></td>
				<td th:text="*{userType}"></td>
				<td align="right">
					<input type="text" th:value="*{money}" th:data-user-no="*{userNo}" class='money'>
				</td>
				<td align="center"><button type='button' class="modify">변경</button></td>
			</tr>

		</table>

	</section>

</html>