main{

    margin: 0 150px;

}

header{
margin: 0 150px;

}

.product_section:after {
    display: block;
    clear: both;
}

.saleInfo {
	display:flex;
	justify-content: center;
	min-width:1100px;
}

.saleInfo_wrap{

	padding : 80px;
	border : 1px solid #e4e4e4;
	border-radius : 10px;
}

.ProductImage {
	display:inline-flex;
    width:400px;
    height:400px;

}
.ProductImage img{
	width:inherit;
	height:inherit;
	object-fit: cover;
}
.product_area {
	display:inline-block;
	margin-left: 100px;
	width: 384px;
}

.pr_Subject{
	color : #ffbd59;
	font-weight : 700;
}

.ProductName {
    margin-bottom: 6px;
    font-size: 22px;
    word-wrap: break-word;
}

.ProductPrice {
    margin-top: 18px;
    font-family: arial,sans-serif;
    font-size: 23px;

}

.section {
    margin-top: 25px;
    padding-bottom: 13px;
    border-top: 1px solid var(--skinLayoutBorder);
    line-height: 30px;

}
.section span{
	font-size:13px;
}



.expireDate{
	color : red;
}

.content_wrap{
	display:flex;
	justify-content: center;
	min-width:1100px;

}

.content {
	margin:0 auto;
	width:1050px;
	display:block;
    padding-top: 100px;
    font-size: 18px;
    line-height: 23.8px;
    word-break: break-all;
    word-wrap: break-word;

}
.content_border{
display:inline-block;
border:1px solid rgba(194, 194, 194, 0.774);
width:100%;
padding: 0 15px 0 15px;

}



.nowPrice{
	margin-top : 10px;
	margin-bottom : 10px;
	font-size : 13px;
	color:gray;
}

.risingPrice{
	margin-bottom : 10px;
	font-size : 13px;
	color:gray;
}

.baroPr{
font-size:1.5rem;
}
.risingPr{
font-size:1.5rem;
}
.currentPr{
font-size:1.5rem;
}




.content_border img {
		width : 100%

	}

	.PurchaseButton button{
    	margin-top:20px;
    	width : 108px;
    	padding : 10px;
    	font-size : 15px;
    	font-weight: 700;
    	border : 1px solid #e4e4e4;
    	background : #ffbd59;;
    	border-radius: 6px;
    	color:white;
    }

    #bid_btn:hover{
     cursor:pointer;
     background-image: url(/images/hammer.png);
     background-repeat: no-repeat;
     background-size:40px;
     background-position: center;
     color:transparent;
     background-color:#dba049;
    }

    #bid_btn:active{


     background-image: url(/images/hammerSwing3.png);
     background-repeat: no-repeat;
     background-size:40px;
     background-position: center;
     color:transparent;
     background-color:#dba049;

    }



    #buy_btn:hover{
    cursor:pointer;

     background-color:#dba049;
    }