
html{
    background-color:rgba(255, 243, 222, 0.774);
}

.categories {

    display: flex;
    position: relative;
    gap: 24px;
    background-color:transparent;
    padding: 0 16px;
    height: 100%;

    max-width: 992px;

}
header{
min-width:900px;
border-bottom:1px solid white;
margin-bottom: 5px;
}

.header_li {

    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    min-width: 30px;
    max-width: 200px;
    vertical-align: middle;
    white-space: normal;

}


.web_header{
display: flex;
justify-content:space-between;
align-items:center;
margin-top : 40px;
margin-bottom : 40px;
}

.logo_img{
	width : 85px;
	height : 85px;
	border-radius : 50%;
	border:0.5px solid #ffbd59;
}
.logo_img:hover{
    transform: rotate( 360deg );
    transition:0.8s;
}

.header_container {
	display: inline-block;
	text-align : center;

}
.header_container .label {
	font-size:32px;
	font-weight:bold;
	font-family: Pretendard-Regular;
	vertical-align:baseline;
}

.categories {
	margin-left : 24px;
	width:auto;
	display: inline-block;
	position:static;
}

.categories li {
	font-family: Pretendard-Regular;
	font-size: 20px;
    font-weight: 700;
}

.categories li a {
	padding: 14px 16px;
}

.header_util {
	display:block;
	position:relative;
	right:0;

}

.header_util .user li a{
	font-family: Pretendard-Regular;
	font-size:15px;
}

.logo_wrap{
display:flex;

	align-items:center;
}

.user{
	display:inline-block;

}

.user li{
	margin-right : 20px;
	line-height:15px;
	align-items: center;
}

.product {
	display:inline-block;
}

.product span a{
	font-family: Pretendard-Regular;
	font-size=15px;
	border : 1px solid #ffbd59;
	padding : 9px 16px;
	border-radius : 5px;
}

.header_li a {
				margin-right : 10px;
			}

.header_a:hover {
    color:#ff7f00;
    transition:0.3s;
}

.write_btn:hover{
    background-color:#ffbd59;
    color:white;
    transition:0.4s;
}

.auth_a:hover{
   font-weight:bold;
   transition:0.2s;
}