
        body{
            min-height: auto;
        }


        main{
            margin: 0;
            min-width:900px;
            padding-top : 20px;
        }


        header{
        min-width:900px;
        margin: 0 250px;
        }

        .box{
            margin-left: 200px;
            list-style: none;
            /*! display: flex; */
            gap: 20px;
            width: 100%;
            margin: 0 auto;
        }
.wrap{
  margin : 0 250px;
  width: 74%;
  display: flex;
  border: 2px solid #ccc;
  height: auto;
  min-height: 600px;
}


.userinfo{
  
}
      .list{
        margin: 0;
        padding: 0;
        list-style: none;

      }
      .boxsidebar{

        margin: 0;
        padding: 0;
        background-color: #ddd;
        width: 200px;
        min-height: 100%;
        flex-shrink: 0;
      }
      .nav-link:hover{
        background-color: rgba(255, 243, 222, 0.774);
      }


      .nav-link{

        display: flex;
        align-items: center;
        padding: 25px 12px;

        text-align: center;
        background-color: #ddd;
        text-decoration: none;
        font-size: 20px;
      }
      #a{

         display: flex;
         align-items: center;
         padding: 25px 12px;

         text-align: center;
         background-color: rgba(255, 243, 222, 0.774);
         text-decoration: none;
         font-size: 20px;
      }

      .userinfo {
        top: 15%;
        background-color: #ddd;
        border: 1px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        width: 40%;
        margin-left : 30%;
        margin-right: 30%;
        margin-top: 50px;
        margin-bottom: auto;
        min-width: 0;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        flex-grow: 1;

      }

      th {
        text-align: left;
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      thead {
        font-weight: bold;
        color: #fff;
        background: #73685d;
      }

       td, th {
        padding: 1em .5em;
        vertical-align: middle;
      }

       td {
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: #fff;
        text-align:left;
      }

      a {
        color: #73685d;
      }

     table {
        border: 1px #a39485 solid;
        font-size: .9em;
        box-shadow: 0 2px 5px rgba(0,0,0,.25);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;

      }

.product_list{
  
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product_list td{
  
}
.product_list th,td{
  
  /*! padding-left: 30px; */
  border: 1px solid #ccc;
}
.product_list tr{
  
  padding: 10px;
}


