/** 공통 */
*{
font-family: 'Noto Sans KR', sans-serif; box-sizing : border-box; outline : none;
    color : #000;
 }

.dn { display: none !important; }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {

	font-size : 15px; min-width : 800px
}

main {
margin: 0 250px;
min-width:900px;
padding-top : 20px;
}

header{
min-width:900px;
margin: 0 250px;
}


ul, ol {list-style-type : none; margin : 0; padding : 0;}
li {margin : 0; padding : 0;}
dl, dt, dd {margin : 0; padding : 0;}
a {text-decoration : none; }

img {
border : 0;
image-rendering: -moz-crisp-edges; /* Firefox */
image-rendering: -o-crisp-edges; /* Opera */
image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
-ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

p {
margin : 0;
}

.error {font-size : 0.9rem; color:#F84A71; margin-left:5px;}

/** 레이어 팝업 S */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 10; }
#layer_popup { background: #ffffff; position: fixed; z-index: 11; border-radius: 30px; overflow-x: hidden; overflow-y: auto; padding: 20px; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 25px; top: 15px; font-size: 1.8rem; }
/** 레이어 팝업 E */