/** 공통 */
* {font-family: 'Noto Sans KR', sans-serif; box-sizing : border-box; outline : none;
    color : #000;}
html {font-size : 15px; min-width : 800px}

body {margin : 0;}
ul, ol {list-style-type : none; margin : 0; padding : 0;}
li {margin : 0; padding : 0;}
dl, dt, dd {margin : 0; padding : 0;}
a {text-decoration : none; }
img {border : 0;}
p {margin : 0;}

.error {font-size : 0.9rem; color:#F84A71; margin-left:5px;}