<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/errorpage_autoredirect.js}"></script>
</head>
<main layout:fragment="content">
    <h1>500 INTERNAL ERROR!</h1>
    <div>이 에러는 이용자 측이 아닌, 서버 측에서의 오류입니다.</div>
    <div>불편을 끼쳐드려 죄송합니다.</div>
    <img th:src="@{/images/500-error-cat.gif}">
    <div>5초 후, 메인 페이지로 이동합니다.</div>
</main>
</html>